.github/**
.vscode/**
node_modules
dist/**/*.map
out/**
test/**
tests/**
src/**
**/*.map
.gitignore
.gitattributes
tsconfig.json
tslint.json
vsc-extension-quickstart.md
stryker.conf.json
.stryker-tmp/**
package-json.lock
webpack.config.js
images/*.gif
images/curl-request.png
images/http.png
images/request-history.png
images/navigate.png
images/curl-request.png
.claude/